{% extends "NinjaLunchBundle::layout.base.twig" %}
{% block headline %}
New Item
{% endblock %}
{% block content %}
<form action="{{ path('admin_food_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn">Create</button>
    </p>
</form>

<div class="record_actions btn-group">
    <a href="{{ path('admin_food') }}" class="btn">
        Back to the list
    </a>
</div>
{% endblock %}
